
h1, h2 {
	color: #FFF;
}

h3, .event_link{
	color:#007095;
}

.results li {
	list-style-type: none;
}

footer a {
	color: #F7F30A;
	text-decoration: underline;
}

label {
	color: #EEE;
}

.button {
	background-color: #F7F30A;
	color: #333;
}

.results {
	background-color: rgba(255,255,255,.8);
	padding: 1em;
}

footer {
	right: 15%;
	background-color: rgba(255,255,255,.3);
}

.results-container {
	display: none;
}

#back_to_search {
	margin: 0.5em 0;
}

.search-form {
	margin-top: 10%;
}

.region_nav {
	background-color: rgba(10, 10, 10, 0.2);
	width: 100%;
}

.search-container {
	clear: left;
}
