
body {
	background: url('../images/melbourne-cityscapes.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2 {
	color: #FFF;
}

h3, .event_link{
	color:#007095;
}

a {
	color: #F7F30A;
	text-decoration: underline;
}

label {
	color: #EEE;
}

.button {
	background-color: #F7F30A;
	color: #333;
}

.results {
	background-color: rgba(255,255,255,.8);
	padding: 1em;
}

footer {
	right: 15%;
	background-color: rgba(255,255,255,.3);
}

.results-container {
	display: none;
}

#back_to_search {
	margin: 0.5em 0;
}

.search-form {
	margin-top: 10%;
}
