body {
	background-image: url('../images/melbourne-cityscapes.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
}

h1, h2 {
	color: #FFF;
}

h3 {
	color:#007095;
}

a {
	color: #F7F30A;
	text-decoration: underline;
}

label {
	color: #EEE;
}

.button {
	background-color: #F7F30A;
	color: #333;
}

.results {
	background-color: rgba(255,255,255,.7);
	padding: 1em;
	height: 60%;
	overflow: auto;
}

footer {
	position: absolute;
	bottom: 0;
	right: 15%;
	background-color: rgba(255,255,255,.3);
}

.results-container {
	display: none;
}

#back_to_search {
	margin: 0.5em 0;
}
