
body {
  background: url('../images/regional2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.search-form .location-container {
  display: none;
}
