<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Eventable</title>
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/foundation.min.css">
<link rel="stylesheet" href="/static/css/custom.css">
<script src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/foundation.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="/static/js/search.js" type="text/javascript" charset="utf-8" async defer></script>
<script type="text/html" id="searchresult_template">
  {% include 'results/result.html' %}
</script>
{% block head %}
{% endblock %}
</head>
<body>

<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name"><h1><a href="/">eventable.in</a></h1></li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li class="{% block victoria_nav_class %}{% endblock %}">
				<a href="/victoria">All</a>
			</li>
			<li class="{% block melbourne_nav_class %}{% endblock %}">
				<a href="/melbourne">Melbourne</a>
			</li>
			<li class="{% block regional_nav_class %}{% endblock %}">
				<a href="/regional_victoria">Regional</a>
			</li>
		</ul>
	</section>
</nav>

<div class="row">
	{% block content %}
	{% endblock %}
	<footer class="row">
	<div class="large-12 columns">
	  <div class="row">
	    <div class="large-3 columns">
	      <p>&copy; Team Rampsters for Govhack 2014</p>
	    </div>
	    <div class="large-9 columns">
	      <ul class="inline-list right">
	        {% block background_attribution %}
	        {% endblock %}
	        <li class="active">Events data from <a href="https://www.data.vic.gov.au/tag/Events+Victoria">Events Victoria</a></li class="active">
	        <li class="active">Accessibility data from<a href="https://data.melbourne.vic.gov.au/">City of Melbourne</a></li class="active">
	        <li class="active">Wheelchair map from<a href="http://wheelmap.org/">Wheelmap</a></li class="active">
	      </ul>
	    </div>
	  </div>
	</div>
	</footer>
</div>
</body>
</html>
