<form class="custom search-form">
  <div class="row">
    <div class="large-3 small-12 columns location-container">
      <label for="location">
        Where?
      </label>
      <select id="location">
        <option value="anywhere" selected="selected">Anywhere</option>
        <option value="near_me" disabled>Near Me</option>
        <option value="melbourne">Melbourne</option>
        <option value="northern">Northern Suburbs</option>
        <option value="eastern">Eastern Suburbs</option>
        <option value="southern">Southern Suburbs</option>
        <option value="western">Western Suburbs</option>
      </select>
    </div>
    <div class="large-3 small-6 columns">
      <label for="cost">
        How Much?
      </label>
      <select id="cost">
        <option value="any">Any amount</option>
        <option value="free">Free</option>
        <option value="paid">Paid</option>
      </select>
    </div>
    <div class="large-3 small-6 columns">
      <label for="date">
       When?
      </label>
      <select id="date">
        <option value="any">Any day</option>
        <option value="today" selected="true">Today</option>
        <option value="soon">Soon (4 days)</option>
        <option value="later">Later (2 weeks)</option>
      </select>
    </div>
    <div class="large-3 small-6 columns">
      <label for="access">
        Wheelchair Access?
      </label>
      <select id="access">
        <option value="any">All events</option>
        <option value="limited">Partially accessible</option>
        <option value="very">Fully accessible only</option>
      </select>
    </div>
    <div class="search-container right large-3 small-12 columns expand">
      <button id="search-button" disabled href="#" class="button expand">Search</a>
    </div>
    </div>
  </div>
</form>
