<form class="custom search-form">
  <div class="row">
    <div class="large-3 small-12 columns">
      <label for="location">
        Where?
      </label>
      <input type="text" id="location" name="location" placeholder="Enter a Location">
    </div>
<!--     <div class="large-3 small-6 columns">
      <label for="category">
        What?
      </label>
      <select id="category">
        <option value="any">All types</option>
        <option value="sports">Sports</option>
        <option value="LEISURE">Leisure</option>
        <option value="arts">Arts</option>
        <option value="food">Food and Wine</option>
        <option value="music">Music</option>
        <option value="community">Community</option>
      </select>
    </div> -->
    <div class="large-3 small-6 columns">
      <label for="cost">
        How Much?
      </label>
      <select id="cost">
        <option value="any">Any amount</option>
        <option value="free">Free</option>
        <option value="paid">Paid</option>
      </select>
      </div>
      <div class="large-3 small-6 columns">
        <label for="date">
         When?
        </label>
        <select id="date">
          <option value="any">Any day</option>
          <option value="today">Today</option>
          <option value="soon">Soon</option>
          <option value="later">Later</option>
        </select>
      </div>
      <div class="large-3 small-6 columns">
        <label for="access">
          Access?
        </label>
        <select id="access">
          <option value="any">Any</option>
          <option value="very">Very accessible</option>
          <option value="limited">Partially accessible</option>
        </select>
      </div>
      <div class="large-3 small-12 columns expand">
        <button href="#" class="button expand">Search</a>
      </div>
    </div>
  </div>
</form>
