{% extends "_base.html" %}

{% block content %}
<div class="small-12 columns" id="top">
<section class="search">
  <div class="row">
    <div class="small-12 large-10 columns small-centered">
      <h2>Find events in Melbourne</h2>
      {% include "_search-form.html" %}
    </div>
  </div>
</section>
<section class="results-container">
  <h2 >Search Results</h2>
  {% include "results/index.html" %}
  <a href="#top" class="button right" id="back_to_search">Back to Top</a>
  </div>
</section>

</div>

{% endblock %}
